/* CSS Document */

#tooltip {
  position: absolute;
  padding: 10px;
  font-size: 14px;
  color: black;
  background-color: white;
  border: 1px solid black;
  pointer-events: none;
}


.legend {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
}

.legend-title {
  font-weight: bold;
}

.legend-rect {
  stroke: #ccc;
}


option {
  font-size: 16px;
}

select {
  font-size: 16px;
  width: 200px;
  height: 50px;
}

#map-container {
  display: center;
  justify-content: center;
}

#legend-container {
  display: center;
  justify-content: center;
}

#map {
  max-width: 100%;
  max-height: 100%;
}


div{
  margin-left: auto;
  margin-right: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    
  }
  
  
  .centerpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  
  svg {
    margin-left: auto;
    margin-right: auto;
  }
  
  body {
      margin:auto;
      background-color: #1b5585;
      color: white;
  }
  
  p {
      text-align:center;
      font-size: 100%
  }
  
  a {
    color: white;
    text-align:center;
  }
  
  footer {
    background-color: #0c1461;
    padding: 20px;
    width: 100%;
    margin-top: auto;
    }
  
  h1 {
      text-align:center;
    list-style-type: none;
    overflow: hidden;
  }
  
  h2 {
      text-align:center;
  }
  
  h3 {
      text-align:center;
  }
  
  h4 {
      text-align:center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  form {
      width: 300px;
      margin: 0 auto;
  }
  
  label {
      text-align:center;
      font-size: 120%
  }
  
  .bar {
    fill:steelblue;
  }
  
  
  .arc text {
    font: 10px sans-serif;
    text-anchor: middle;
  }
  
  .arc path {
    stroke: #fff;
  }
  
  .title {
    fill: teal;
    font-weight: bold;
  }
  /* style for the navigation bar */
  .navbar {
    display: flex;
    justify-content: center; /* center the links horizontally */
    background-color: #0a3154;
    overflow: hidden;
  }
  
  /* style for the links inside the navigation bar */
  .navbar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* change the color of the link when hovering over it */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }


  